@import 'src/styles.scss';

.profile-picture-twoot {
  height: 49px;
  width: 49px;
  background-color: $main-color;
  border-radius: 100%;
  margin-left: 5px;
}

.twoot-component {
  min-width: 600px;
}

.twoot-input {
  border: none;
}

.image-upload-icon {
  color: $main-color;
  font-size: 25px;
}

.cursor-pointer {
  cursor: pointer;
}

.btn-container {
  margin-right: 20px;
}
