<div class="sidebar-sticky">
  <ul class="nav flex-column ">
    <li class="nav-item " style="cursor: pointer;">
      <div class="icon-sidebar mr-2 ml-3">
        <i class="Icon Icon--bird"></i>
      </div>
    </li>
    <li class="nav-item">
      <a
        class="nav-link  d-flex flex-row align-items-center"
        [routerLink]="['/']"
        routerLinkActive="nav-link-active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <div class="icon-sidebar mr-2">
          <i class="Icon Icon--homeFilled"></i>
        </div>
        <div class="d-none d-xl-block" style="font-weight: bold">
          Home
        </div>
      </a>
    </li>
    <li class="nav-item d-none d-md-block">
      <a
        class="nav-link  d-flex flex-row align-items-center"
        [routerLink]="['/explore']"
        routerLinkActive="nav-link-active"
      >
        <div class="icon-sidebar mr-2">
          <i class="Icon Icon--discover"></i>
        </div>
        <div class="d-none d-xl-block " style="font-weight: bold">
          Explore
        </div>
      </a>
    </li>
    <li class="nav-item d-block d-md-none">
      <a
        class="nav-link  d-flex flex-row align-items-center"
        [routerLink]="['/explore']"
        routerLinkActive="nav-link-active"
      >
        <div class="icon-sidebar mr-2">
          <i class="Icon Icon--search"></i>
        </div>
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link d-flex flex-row align-items-center"
        [routerLink]="['/notifications']"
        routerLinkActive="nav-link-active"
      >
        <div class="icon-sidebar mr-2">
          <i class="Icon Icon--deskBell"></i>
        </div>
        <div class="d-none d-xl-block" style="font-weight: bold">
          Notifications
        </div>
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link  d-flex flex-row align-items-center"
        [routerLink]="['/messages']"
        routerLinkActive="nav-link-active"
      >
        <div class="icon-sidebar mr-2">
          <i class="Icon Icon--message"></i>
        </div>
        <div class="d-none d-xl-block" style="font-weight: bold">
          Messages
        </div>
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link  d-flex flex-row align-items-center"
        [routerLink]="['/:username/bookmarks']"
        routerLinkActive="nav-link-active"
      >
        <div class="icon-sidebar mr-2">
          <i class="Icon Icon--bookmark"></i>
        </div>
        <div class="d-none d-xl-block" style="font-weight: bold">
          Bookmarks
        </div>
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link  d-flex flex-row align-items-center"
        [routerLink]="['/:username/lists']"
        routerLinkActive="nav-link-active"
      >
        <div class="icon-sidebar mr-2">
          <i class="Icon Icon--summary"></i>
        </div>
        <div class="d-none d-xl-block" style="font-weight: bold">
          Lists
        </div>
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link  d-flex flex-row align-items-center"
        [routerLink]="['/:username']"
        routerLinkActive="nav-link-active"
        (click)="navigateToProfile()"
      >
        <div class="icon-sidebar mr-2">
          <i class="Icon Icon--bookmark"></i>
        </div>
        <div class="d-none d-xl-block" style="font-weight: bold">
          Profile
        </div>
      </a>
    </li>
    <li class="nav-item" (click)="logout()">
      <a class="nav-link  d-flex flex-row align-items-center">
        <div class="icon-sidebar mr-2">
          <i class="Icon Icon--arrowLeft"></i>
        </div>
        <div class="d-none d-xl-block" style="font-weight: bold">
          Log out
        </div>
      </a>
    </li>
  </ul>
</div>
