@import 'src/styles.scss';
.icon-sidebar {
  font-size: 26px;
}

.nav-link {
  width: max-content;
  color: black;
}

.nav-link:hover {
  cursor: pointer;
  color: $main-color;
  background-color: rgba(29, 161, 242, 0.1);
  border-radius: 100px;
}

.nav-link-active {
  color: $main-color;
}

.Icon--bird {
  font-size: 30px;
  color: $main-color;
}

.btn-lightblue {
  padding: 12px 10px;
}
.btn-lightblue.d-block {
  margin-top: 10px;
  border-radius: 100%;
  max-height: 60px;
  max-width: 60px;
  font-size: 25px;
  font-weight: bold;
}
