@import 'src/styles.scss';

.search-input {
  border-radius: 100px !important;
  margin-top: 15px;
  padding: 5px;
  padding-left: 20px;
}

.main-container {
  padding: 15px;
  border-bottom: 1px solid $line-color;
  cursor: pointer;
}

.main-container:focus {
  border: none;
}

.trending {
  color: $muted-text;
  font-size: 12px;
}

.hashtag {
  font-weight: bold;
  font-size: 16px;
}

.number-of-twoots {
  color: $muted-text;
  font-size: 14px;
}
