@import 'src/styles.scss';
/****************NEW TWOOT **********************/
.navbar {
  border-bottom: 1px solid $line-color;
  min-width: 600px;
}

.hash {
  color: orange;
}
.user {
  color: red;
}
