@import 'src/styles.scss';
/****************NEW TWOOT **********************/
.navbar {
  border-bottom: 1px solid $line-color;
}
.profile-picture-twoot {
  height: 49px;
  width: 49px;
  background-color: $main-color;
  border-radius: 100%;
  margin-left: 5px;
}

.twoot-input {
  border: none;
}

.image-upload-icon {
  color: $main-color;
  font-size: 25px;
}

.btn-container {
  margin-right: 20px;
}
/******************** EVERY OTHER TWOOT ****************************/
