<div class="profile-header">
  <div class="top d-flex flex-row align-items-center justify-content-start">
    <div class="back-button mr-4 ml-1">
      <i class="Icon Icon--arrowLeft"></i>
    </div>
    <div class="text-top">
      <div class="name-top">
        {{ profileInfo.first_name + ' ' + profileInfo.last_name }}
      </div>
      <div class="twoot-count">
        {{ profileInfo.twoot_count + ' twoots' }}
      </div>
    </div>
  </div>
  <div class="big-photo"></div>
  <div class="profile-picture"></div>
  <div
    class="button-container d-flex flex-row align-items-center justify-content-end mb-2"
  >
    <div class="small-buttons mr-2">
      <button class="btn btn-clear"><i class="Icon Icon--message"></i></button>
    </div>
    <div class="big-button mr-1">
      <button
        class="btn "
        [ngClass]="getButtonClass()"
        (mouseenter)="changeButton('entering')"
        (mouseleave)="changeButton('exiting')"
        (click)="profileButtonClick()"
      >
        {{ buttonText }}
      </button>
    </div>
  </div>
  <div
    class="info-container d-flex flex-column align-items-start justify-content-center ml-4"
  >
    <div class="name">
      {{ profileInfo.first_name + ' ' + profileInfo.last_name }}
    </div>
    <div class="username">{{ '@' + this.router.url.substr(1) }}</div>
    <div class="about">{{ profileInfo.about }}</div>
    <div class="info"></div>
    <div class="follow-info"></div>
  </div>
</div>
<div style="width: 600px;">
  <app-twoot
    *ngFor="let twoot of twootsArray"
    [twootContent]="twoot"
  ></app-twoot>
</div>
