<div class="profile-header">
  <div class="top d-flex flex-row align-items-center justify-content-start">
    <div class="back-button mr-4 ml-1">
      <i class="Icon Icon--arrowLeft"></i>
    </div>
    <div class="text-top">
      <div class="name-top">
        {{ profileInfo.first_name + ' ' + profileInfo.last_name }}
      </div>
      <div class="twoot-count">
        {{ profileInfo.twoot_count + ' twoots' }}
      </div>
    </div>
  </div>
  <div class="big-photo" *ngIf="!profileInfo.cover_pic_name"></div>
  <img
    *ngIf="profileInfo.cover_pic_name"
    class="big-photo"
    [src]="getCoverImg()"
  />
  <div class="profile-picture" *ngIf="!profileInfo.profile_img_name"></div>
  <img
    *ngIf="profileInfo.profile_img_name"
    class="profile-picture"
    [src]="getProfileImg()"
  />
  <div
    class="button-container d-flex flex-row align-items-center justify-content-end mb-2"
  >
    <div class="small-buttons mr-2">
      <button class="btn btn-clear"><i class="Icon Icon--message"></i></button>
    </div>
    <div class="big-button mr-1">
      <button
        class="btn "
        [ngClass]="getButtonClass()"
        (mouseenter)="changeButton('entering')"
        (mouseleave)="changeButton('exiting')"
        data-toggle="modal"
        data-target="#editProfileModal"
        (click)="profileButtonClick()"
      >
        {{ buttonText }}
      </button>
    </div>
  </div>
  <div
    class="info-container d-flex flex-column align-items-start justify-content-center ml-4"
  >
    <div class="name">
      {{ profileInfo.first_name + ' ' + profileInfo.last_name }}
    </div>
    <div class="username">{{ '@' + this.router.url.substr(1) }}</div>
    <div class="about">{{ profileInfo.about }}</div>
    <div class="info"></div>
    <div class="follow-info">
      {{
        profileInfo.followers +
          ' followers  · ' +
          profileInfo.following +
          ' following'
      }}
    </div>
  </div>
</div>
<app-loading-spinner *ngIf="isLoading!"></app-loading-spinner>
<div style="width: 600px;" ngif="!isLoading">
  <app-twoot
    *ngFor="let twoot of twootsArray"
    [twootContent]="twoot"
    infiniteScroll
    [infiniteScrollDistance]="1"
    [infiniteScrollThrottle]="500"
    (scrolled)="onScroll()"
  ></app-twoot>
</div>

<div
  class="modal fade"
  [id]="toggleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row mb-5">
          <label for="uploadProfilePic" class="cursor-pointer mr-4 ml-2">
            Select profile picture
          </label>
          <input
            #uploadFile
            type="file"
            id="uploadProfilePìc"
            class="input-profile-picture "
            accept="image/jpeg, .jpeg, image/png, .png, image/pjpeg, .jpg, .docx, .pdf"
            (change)="selectImage($event)"
          />
        </div>
        <div class="row mt-3">
          <label for="uploadCoverPic" class="cursor-pointer mr-4 ml-2">
            Select cover picture
          </label>
          <input
            #uploadFile
            type="file"
            id="uploadCoverPic"
            class="input-cover-picture ml-1"
            accept="image/jpeg, .jpeg, image/png, .png, image/pjpeg, .jpg, .docx, .pdf"
            (change)="selectImage($event)"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-dismiss="modal"
          (click)="saveProfileChanges()"
        >
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
