@import 'src/styles.scss';
.navbar {
  border-bottom: 1px solid $line-color;
  min-width: 600px;
}

.notification {
  border: 1px solid $line-color;
  font-size: 16px;
  cursor: pointer;
}

.notification-icon {
  color: $main-color;
  font-size: 24px;
}
