@import 'src/styles.scss';
@import '/home/ivan/TheOdinProject/social-clone/client/src/app/home/home.component.scss';
.twoot-container {
  border: 1px solid $line-color;
  padding-top: 5px;
  padding-bottom: 5px;
}

.twoot-user {
  font-weight: bold;
  padding-right: 10px;
  font-size: 15px;
}

.twoot-user:hover {
  text-decoration: underline;
  cursor: pointer;
}

.twoot-username,
.twoot-time {
  font-size: 15px;
  color: rgb(156, 152, 152);
}

.twoot-time {
  padding-left: 10px;
}

.twoot-profile-picture {
  height: 49px;
  width: 49px;
  background-color: $main-color;
  border-radius: 100%;
  margin-right: 12px;
  margin-left: 5px;
}

.twoot-bot {
  min-height: 50px;
  margin-right: 10px;
}
.twoot-content {
  padding-right: 20px;
}

.respond,
.retweet,
.fav {
  cursor: pointer;
  padding: 5px;
}

.fav:hover {
  color: rgb(224, 36, 94);
  background-color: rgba(190, 72, 109, 0.13);
  border-radius: 100px;
}

.retweet:hover {
  color: rgb(23, 191, 99);
  background-color: rgba(70, 209, 133, 0.144);
  border-radius: 100px;
}

.respond:hover {
  color: $main-color;
  background-color: rgba(29, 161, 242, 0.1);
  border-radius: 100px;
}

.fav-fill {
  color: red;
}

.twoot-image {
  margin-top: 5px;
  margin-bottom: 5px;
  max-width: 500px;
  border-radius: 10px;
}

.user-mention,
.hash {
  color: $main-color;
}

.twoot-time:hover {
  text-decoration: underline;
}
