<div
  class="twoot-container d-flex flex-row align-items-start"
  style="cursor: pointer;"
>
  <div
    class="twoot-profile-picture mr-4"
    *ngIf="!twootContent.profile_img_name"
  ></div>
  <img
    *ngIf="twootContent.profile_img_name"
    class="twoot-profile-picture mr-4"
    [src]="getProfileImg()"
  />
  <div class="row d-flex flex-column w-100">
    <div class="twoot-top d-flex flex-row w-100">
      <div
        class="twoot-user"
        [routerLink]="['/' + twootContent.username]"
        routerLinkActive="router-link-active"
      >
        {{ twootContent.first_name + ' ' + twootContent.last_name }}
      </div>
      <div class="twoot-username">{{ '@' + twootContent.username }}</div>
      <div class="twoot-time" (click)="navigateToTwoot()">
        {{ '·  ' + twootContent.createdAt }}
      </div>
      <app-alert *ngIf="error" [message]="error"></app-alert>
    </div>
    <div class="twoot-bot">
      <div
        class="twoot-content"
        [innerHtml]="twootContent.content | twootPipe"
        (click)="getRoute($event)"
      ></div>

      <div class="twoot-image-container" *ngIf="twootContent.img_name">
        <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
        <img class="twoot-image" [src]="getImg()" *ngIf="!isLoading" />
      </div>
      <div class="twoot-options d-flex justify-content-around w-100">
        <div
          class="respond"
          data-toggle="modal"
          [attr.data-target]="'#' + twootContent.twoot_id"
        >
          <i class="Icon Icon--conversation"></i>
        </div>
        <div class="retweet">
          <i class="Icon Icon--retweet"></i>
        </div>
        <div class="fav fav-fill" (click)="sendFav()">
          <i
            class="Icon"
            [ngClass]="userFav ? 'Icon--heartBadge' : 'Icon--heart'"
          ></i>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  [id]="twootContent.twoot_id"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLongTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          Answer twoot
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-create-twoot
          [placeHolder]="'Reply...'"
          [twoot_id]="twootContent.twoot_id"
        ></app-create-twoot>
      </div>
    </div>
  </div>
</div>
